body {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    background-color: #151313;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

details summary::-webkit-details-marker {
    display: none;
}

/* Тут просто скопирован дефолтный стиль для visually-hidden */
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    clip-path: inset(100%);
}

.social__link {
    fill: white;
}

.social__link:hover,
.social__link:focus {
    fill: #a07b50;
}

.container__centered {
    position: relative;
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1286px;
}

@media (max-width: 1023px) {
    .container__centered {
        width: auto;
        padding: 0 27px;
        box-sizing: content-box;
    }
}

@media (max-width: 767px) {
    .container__centered {
        padding: 0 15px;
    }
}

.section__title {
    font-family: Yeseva One, cursive;

    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #FFFFFF;
}

@media (max-width: 767px) {
    .section__title {
        font-size: 28px;
        line-height: 32px;
    }
}

.section__lead {
    font-family: Roboto, sans-serif;

    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    color: #A07B50;
}

@media (max-width: 767px) {
    .section__lead {
        font-size: 14px;
        line-height: 140%;
    }
}

.btn {
    display: block;
    width: 200px;
    height: 52px;
    padding: 18px 37px;
    border: 0.5px solid #A07B50;
    box-sizing: border-box;

    font-family: Roboto, sans-serif;

    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
    transition: 0.3s ease-out;
}

.btn:hover,
.btn:focus {
    color: #A07B50;
    border: 0.5px solid #FFFFFF;
}

@media (max-width: 767px) {
    .btn {
        width: 141px;
        height: 40px;
        padding: 10px 0;
        margin: 0 auto;
        font-size: 12px;
    }
}

.pets,
.breed,
.faq,
.reviews {
    background-color: #1F1C1D;
}

.logo {
    height: 21px;
    width: 55px;
}

/* Header */

.main-header {
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: 50px;
    position: relative;
    background-color: #151313;
    overflow: hidden;
}

@media (max-width: 1023px) {
    .main-header {
        min-height: 650px;
    }
}

@media (max-width: 767px) {
    .main-header {
        min-height: 640px;
        padding-top: 27px;
    }
}

.logo-icon {
    fill: #A07B50;
    stroke: #151313;
    transition: fill 0.3s ease-out;
}

.header__logo {
    margin: 0 auto;
}

.logo-icon:hover {
    fill: white;
}

.crown-icon {
    display: block;
    margin: 0 auto;
}

.header__background-image {
    position: absolute;
    width: 1068px;
    height: 712px;
    right: 0;
    bottom: 0;

    background-image: url("../images/main-cat-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: right;
}

@media (max-width: 1023px) {
    .header__background-image {
        width: 784px;
        height: 533px;
        right: -50px;
        background-image: url("../images/main-cat-tablet@1x.png");
    }
}

@media (max-width: 767px) {
    .header__background-image {
        width: 275px;
        height: 256px;
        background-image: url("../images/main-cat-mobile@1x.png");
        background-position: center;
    }
}

.intro-info {
    position: absolute;
    height: 462px;
    width: 622px;
    left: 202px;
    top: 20vh;
}

@media (max-width: 1023px) {
    .intro-info {
        width: 370px;
        left: 41px;
        top: 10vh;
    }
}

@media (max-width: 767px) {
    .intro-info {
        position: initial;
        width: 243px;
        left: auto;
        margin: 45px auto 0;
        text-align: center;
    }
}

.intro__city {
    font-family: Roboto, sans-serif;

    font-size: 16px;
    line-height: 24px;

    color: #A07B50;
}

@media (max-width: 767px) {
    .intro__city {
        font-size: 14px;
        line-height: 150%;
    }
}


.intro__title {
    font-family: Yeseva One, cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 60px;

    color: #FFFFFF;
}

@media (max-width: 767px) {
    .intro__title {
        font-size: 36px;
        line-height: 42px;
        margin-top: 20px;
    }
}

.intro__lead {
    font-family: Roboto, sans-serif;

    font-size: 16px;
    line-height: 24px;

    color: #A07B50;
}

@media (max-width: 1023px) {
    .intro__lead {
        margin-bottom: 55px;
    }
}

@media (max-width: 767px) {
    .intro__lead {
        margin-bottom: 40px;
    }
}

.icon {
    display: block;
    margin: 15px auto;
}

.decor__element-vertical__line {
    width: 1px;
    margin: 0 auto;
}

.intro__social {
    position: absolute;
    width: 15px;
    height: 170px;
    bottom: 65px;
    left: 80px;
}

@media (max-width: 1023px) {
    .decor__element-vertical__line {
        display: none;
    }

    .intro__social {
        padding: 0;
        width: 80px;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        bottom: 50px;
        left: 42px;
    }
}

@media (max-width: 767px) {
    .decor__element-vertical__line,
    .intro__social {
        display: none;
    }
}

/* Pets */

.pets {
    padding-top: 223px;
    padding-bottom: 80px;
}

@media (max-width: 1023px) {
    .pets {
        padding-top: 100px;
    }
}

@media (max-width: 767px) {
    .pets {
        padding-top: 60px;
    }
}

.pets__title {
    margin: 0 auto;
    width: 180px;
    height: 42px;
}

.pets__lead {
    margin: 23px auto 38px;
    width: 516px;
    height: 53px;
}

@media (max-width: 767px) {
    .pets__lead {
        width: 282px;
    }
}

.pets__list {
    padding: 0;
    display: flex;
    margin: 0 auto 35px;
    width: 272px;
    height: 46px;
    justify-content: space-between;
}

.pets__tab {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: rgba(255, 255, 255, 0.2);
    transition: color 0.3s ease-out;
}

.pets__tab-active {
    color: #FFFFFF;
}

.pets__tab:hover {
    color: #FFFFFF;
}

.pets__photo-slider {
    width: 100%;
}

@media (max-width: 1023px) {
    .pets__photo-slider {
        min-height: 500px;
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .pets__photo-slider {
        min-height: 300px;
        margin-bottom: 20px;
    }
}

.pets__photo-slide {
    display: block;
    width: 100%;
    max-width: 1068px;
    height: auto;
    margin: 0 auto 56px;
    column-count: 2;
    column-gap: 30px;
}

@media (max-width: 1023px) {
    .pets__photo-slide {
        position: relative;
    }
}

.gallery__item-top {
    height: 214px;
    margin-bottom: 30px;
}

@media (max-width: 1023px) {
    .gallery__item-top {
        position: absolute;
        left: 20px;
    }

    .gallery__item-bottom {
        position: absolute;
        right: 20px;
    }

    .gallery__item-top,
    .gallery__item-bottom {
        top: 100px;
    }
}

.gallery__item-top,
.gallery__item-bottom {
    width: 518px;
}

@media (max-width: 767px) {
    .gallery__item-top,
    .gallery__item-bottom {
        left: 0;
        right: auto;
        top: 0;
        display: none;
    }
}

.gallery__item-large {
    width: calc(100% - 30px);
    max-width: 474px;
    height: 485px;
}

@media (max-width: 1023px) {
    .gallery__item-large {
        position: absolute;
        top: 0;
        left: 20%;
        z-index: 2;
    }
}

.gallery__item-top img,
.gallery__item-bottom img,
.gallery__item-large img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 767px) {
    .gallery__item-large {
        height: 300px;
    }

    .gallery__item-large img {
        width: 234px;
        height: 248px;
    }
}

.slider__button {
    background-color: transparent;
    border: none;
}

.pets_btn {
    margin: 0 auto;
    text-align: center;
}

/* Breed */

.breed {
    min-height: 980px;
    box-sizing: border-box;
    position: relative;
    padding-top: 20px;
}

@media (max-width: 767px) {
    .breed {
        min-height: 850px;
    }

    .breed__title {
        width: 190px;
        margin: 0 auto 40px;
    }
}

.breed__lead {
    margin: 0 auto;
    width: 735px;
}

@media (max-width: 1023px) {
    .breed__lead {
        width: 443px;
    }
}

@media (max-width: 767px) {
    .breed__lead {
        width: 270px;
    }
}

.breed__image {
    margin: 0 auto;
    width: 602px;
    height: 690px;
    z-index: 1;
    position: relative;
}

@media (max-width: 1023px) {
    .breed__image {
        margin-top: 40px;
        width: 410px;
        height: 600px;
    }

    .breed__image img {
        width: 400px;
        height: 439px;
    }
}

@media (max-width: 767px) {
    .breed__image {
        margin-top: 40px;
        width: 268px;
        height: 330px;
    }

    .breed__image img {
        width: 267px;
        height: 291px;
    }
}

.breed__image:before {
    content: "";
    position: absolute;
    top: 105px;
    left: 24px;
    z-index: -1;
    width: 519px;
    height: 519px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.35);
}

.breed__image:after {
    content: "";
    position: absolute;
    top: 49px;
    left: -30px;
    z-index: -1;
    border-radius: 50%;
    width: 631px;
    height: 631px;
    border: 1px solid #a07b50;
}

@media (max-width: 1023px) {
    .breed__image:before {
        top: 95px;
        width: 342px;
        height: 342px;
    }

    .breed__image:after {
        left: -20px;
        width: 425px;
        height: 425px;
    }
}

@media (max-width: 767px) {
    .breed__image:before {
        top: 50px;
        width: 230px;
        height: 230px;
    }

    .breed__image:after {
        top: 25px;
        left: 0px;
        width: 280px;
        height: 280px;
    }
}

.breed__features {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    font-family: "Roboto", "Arial", sans-serif;
}

@media (max-width: 767px) {
    .breed__features {
        top: 550px;
        left: 150px;
    }
}

.breed__features-item {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    text-align: right;

    color: #FFFFFF;

    position: relative;
}

.breed__features-item:before {
    content: "";
    position: absolute;
    top: 7px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #a07b50;
}

.breed__features-easy {
    font-size: 14px;
    line-height: 21px;
    top: 343px;
    left: -440px;
    max-width: 255px;
    text-align: right;
}

.breed__features-easy:before {
    right: -34px;
}

@media (max-width: 1023px) {
    .breed__features-easy {
        top: 343px;
        left: -275px;
        max-width: 145px;
    }

    .breed__features-easy:before {
        right: -34px;
    }
}

.breed__features-dog {
    top: 411px;
    right: -449px;
    max-width: 201px;
}

.breed__features-dog:before {
    top: 3px;
    left: -33px;
}

@media (max-width: 1023px) {
    .breed__features-dog {
        top: 343px;
        right: -289px;
        max-width: 130px;
    }

    .breed__features-dog:before {
        top: 3px;
        left: -26px;
    }
}

.breed__features-weight {
    top: 534px;
    right: -406px;
    max-width: 160px;
}

.breed__features-weight:before {
    top: 6px;
    left: -33px;
}

@media (max-width: 1023px) {
    .breed__features-weight {
        top: 394px;
        right: -233px;
        max-width: 160px;
    }

    .breed__features-weight:before {
        top: 6px;
        left: -33px;
    }
}

.breed__features-lynx {
    max-width: 200px;
    top: 538px;
    left: -400px;
    text-align: right;
}

.breed__features-lynx:before {
    right: -31px;
}

@media (max-width: 1023px) {
    .breed__features-lynx {
        max-width: 140px;
        top: 438px;
        left: -260px;
    }

    .breed__features-lynx:before {
        right: -31px;
    }
}

@media (max-width: 767px) {
    .breed__features-item {
        color: white;
        font-size: 14px;
        line-height: 140%;
        padding-left: 0;
        top: 5px;
        left: 0;
        text-align: left;
        max-width: none;
    }

    .breed__features-item:before {
        width: 8px;
        height: 8px;
        top: 4px;
        left: -18px;
    }

    .breed__features-item:not(:last-child) {
        margin-bottom: 20px;
    }
}

/* Advantages */

.advantages {
    padding-top: 70px;
}

@media (max-width: 767px) {
    .advantages {
        padding-top: 60px;
    }
}

.advantages__lead {
    width: 430px;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .advantages__title {
        width: 184px;
        margin: 35px auto;
    }

    .advantages__lead {
        width: 284px;
    }
}

.advantages__list {
    margin: 50px auto 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 1023px) {
    .advantages__list {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 767px) {
    .advantages__list {
        margin-bottom: 60px;
    }
}

.advantages__item {
    width: 360px;
    height: 301px;
    background-color: #1F1C1D;
}

@media (max-width: 1023px) {
    .advantages__item {
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .advantages__item {
        width: 290px;
        height: 248px;
    }
}

.advantages__link {
    display: block;
    position: relative;
    width: 320px;
    height: 267px;
    margin: 20px;
    vertical-align: middle;
    transition: background-color 0.3s ease-out, fill 0.3s ease-out, stroke 0.3s ease-out;
    color: #FFFFFF;
}

.advantages__link span {
    position: absolute;
    width: 255px;
    height: 53px;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    font-family: Roboto, sans-serif;

    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    color: #FFFFFF;
}

.advantages__link:hover {
    background-color: #a07b50;
}

.advantages__link:hover .big-icon {
    fill: #ffffff;
    stroke: #a07b50;
}

@media (max-width: 767px) {
    .advantages__link {
        margin: 15px;
        width: 260px;
        height: 218px;
    }

    .advantages__link span {
        font-size: 14px;
        bottom: 30px;
    }
}

.big-icon {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);

    fill: #a07b50;
    stroke-width: 2;
    stroke: #1f1c1d;
    transition: fill 0.3s ease-out, stroke 0.3s ease-out;
}

@media (max-width: 767px) {
    .big-icon {
        width: 80px;
        height: 88px;
    }
}


/* Care */

.care {
    box-sizing: border-box;
    min-height: 645px;
    padding: 60px 0;
    background-image: url("../images/bg-care-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.care__title {
    margin-bottom: 40px;
}

.care__list {
    display: flex;
    padding: 0;
    margin: 0 auto;
    width: 1160px;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 1023px) {
    .care__list {
        width: auto;
        flex-direction: column;
        align-items: center;
    }
}

.care__item {
    width: 559px;
    height: 165px;
    position: relative;
    margin-bottom: 43px;
    border: 1px #a07b50 solid;
    transition: background-color 0.3s ease-out;
}

.care__item:after {
    content: "ᐳ";
    color: white;
    text-align: center;
    line-height: 165px;
    display: block;
    position: absolute;
    height: 165px;
    width: 60px;
    right: 0;
    top: 0;
    background-color: #a07b50;
    border-left: 1px #a07b50 solid;
    transition: background-color 0.3s ease-out;
}

.care__item:hover {
    background-color: #151313;
}

.care__item:hover:after {
    background-color: #151313;
}

@media (max-width: 767px) {
    .care__item {
        width: 290px;
        height: 171px;
    }

    .care__item:after {
        height: 171px;
        width: 46px;
    }
}


.care__link-title {
    position: absolute;
    top: 38px;
    left: 59px;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;

    color: #A07B50;
}

@media (max-width: 767px) {
    .care__link-title {
        top: 25px;
        left: 25px;
        font-size: 18px;
        line-height: 21px;
    }
}

.care__link-description {
    position: absolute;
    top: 60px;
    left: 59px;
    width: 420px;

    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;

    color: #FFFFFF;
}

@media (max-width: 767px) {
    .care__link-description {
        top: auto;
        bottom: 25px;
        left: 25px;
        width: 210px;
        margin-bottom: 0;
        line-height: 140%;
    }
}

/* Team */

.team {
    padding: 60px 0;
    height: 700px;
}

.team__lead {
    width: 510px;
    margin: 0 auto;
}

.team__slider {
    width: 1184px;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;
}

@media (max-width: 1023px) {
    .team__slider {
        width: auto;
    }
}

.team__slider-single__slide {
    height: 402px;
    width: 994px;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 1023px) {
    .team__slider-single__slide {
        height: 505px;
        width: 649px;
    }
}

.single__slide-image {
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 21px;

    z-index: 2;
}

@media (max-width: 1023px) {
    .single__slide-image {
        top: 300px;
        left: 350px;
    }

    .single__slide-image img {
        width: 208px;
        height: 208px;
    }
}

.team__slider-main {
    width: 658px;
    height: 400px;
    border: 1px #a07b50 solid;
    padding: 23px 30px;

    position: absolute;
    right: 0;
    top: 0;
}

@media (max-width: 1023px) {
    .team__slider-main {
        box-sizing: border-box;
        padding: 23px 25px;
        height: 409px;
        width: 647px;
        right: auto;
        left: 0;
    }
}

.team__slider-main blockquote {
    width: 600px;
    height: 356px;
    background-color: #1F1C1D;
    position: relative;
}

@media (max-width: 1023px) {
    .team__slider-main blockquote {
        margin: 0 auto;
    }
}

.team__member-quote__author {
    width: 220px;
    position: absolute;
    top: 69px;
    left: 95px;
}

.team__member-title {
    display: inline-block;
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #A07B50;
}

.team__member-jobTitle {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #A07B50;
}

.team__member-quote {
    width: 400px;
    position: absolute;
    top: 151px;
    left: 95px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;

    color: rgba(255, 255, 255, 0.72);
}

.team__social {
    width: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    bottom: 100px;
    right: 500px;
    z-index: 2;
}

@media (max-width: 1023px) {
    .team__social {
        bottom: 50px;
        right: 400px;
        width: 130px;
        padding: 0;
    }

    .team__social-icon__fb {
        height: 25px;
        width: 17px;
    }

    .team__social-icon__tw {
        height: 18px;
        width: 25px;
    }

    .team__social-icon__vk {
        height: 18px;
        width: 25px;
    }

}

.slider__button-prev,
.team-slider__button-prev {
    position: absolute;
    width: 31px;
    height: 31px;
    left: 0;
    top: 50%;
    display: block;
    cursor: pointer;
    background-image: url("../images/arrowPrev.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    transition: opacity 0.3s ease-out;
}

.slider__button-next,
.team-slider__button-next {
    position: absolute;
    width: 31px;
    height: 31px;
    right: 0;
    top: 50%;
    display: block;
    cursor: pointer;
    background-image: url("../images/arrowNext.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    transition: opacity 0.3s ease-out;
}

.slider__button-prev:hover,
.slider__button-next:hover {
    opacity: 1;
}

@media (max-width: 1023px) {
    .team-slider__button-prev {
        top: auto;
        left: auto;
        bottom: 55px;
        right: 350px;
    }

    .team-slider__button-next {
        top: auto;
        bottom: 55px;
        right: 75px;
    }
}

/* FAQ */

.faq {
    padding: 60px 0 0 0;
    min-height: 800px;
}

.faq__lead {
    width: 380px;
    margin: 0 auto;
}

.faq__list {
    padding: 0;
    width: 909px;
    margin: 40px auto;
}

@media (max-width: 1023px) {
    .faq__list {
        width: auto;
    }
}

.faq__item {
    box-sizing: content-box;
    display: block;
    width: 100%;
    min-height: 110px;
    margin-bottom: 40px;
    cursor: pointer;
}

@media (max-width: 1023px) {
    .faq__item {
        width: 657px;
    }
}

.faq__item-spoiler {
    position: relative;
}

.faq__item-spoiler:before {
    position: absolute;
    display: block;
    width: 114px;
    height: 110px;
    left: 0;
    top: 0;
    content: "01";
    font-family: Roboto, sans-serif;
    font-size: 70px;
    color: #a07b50;
    font-weight: bold;
    line-height: 110px;
}

.faq__item--zeroTwo:before {
    content: "02";
}

.faq__item--zeroThree:before {
    content: "03";
}

.faq__item--zeroFour:before {
    content: "04";
}

.faq__question {
    box-sizing: content-box;
    position: absolute;
    left: 115px;
    top: 0;
    height: 110px;
    font-family: Roboto, sans-serif;
    padding-left: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;

    color: #DDD0C3;
    background-color: transparent;
    width: 752px;

    border: 1px #a07b50 solid;

    transition: background-color 0.3s ease-out;
}

.faq__question:hover {
    background-color: #151313;
}

.faq__question:after {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    content: "−";
    width: 102px;
    height: 110px;
    border-left: 1px #a07b50 solid;
    color: #a07b50;
    text-align: center;
    font-size: 30px;
    line-height: 110px;
    transition: background-color 0.3s ease-out;
}

.faq__question:hover:after {
    background-color: #151313;
}

.faq__question:focus {
    border: 1px #a07b50 solid;
    outline: none;
}

.summary-text {
    display: block;
    margin: 40px 0;
}

@media (max-width: 1023px) {
    .faq__question {
        width: 500px;
        white-space: normal;
    }

    .summary-text {
        width: 400px;
    }
}

.faq__item-spoiler[open] .faq__question:after {
    content: "+";
    background-color: #a07b50;
    color: #ffffff;
}

.faq__item-spoiler[open] {
    height: 440px;
}

.faq__answer {
    box-sizing: border-box;
    margin: 0;
    padding: 40px 110px 40px 40px;
    position: absolute;
    top: 110px;
    left: 115px;
    font-family: Roboto, sans-serif;

    font-weight: 300;
    font-size: 16px;
    line-height: 154%;

    color: #DDD0C3;

    border: 1px #a07b50 solid;
    border-top: none;
}

/* Reviews */

.reviews {
    padding: 40px 0;
}

.reviews__title {
    margin-bottom: 60px;
}

.reviews__slider {
    margin: 0 auto;
    width: 1000px;
    height: 500px;
}

@media (max-width: 1023px) {
    .reviews__slider {
        width: 578px;
        height: 463px;
    }
}

.reviews__item {
    width: 100%;
    height: 100%;
    position: relative;
}

.reviews__item-image {
    position: absolute;
    top: 46px;
    left: 0;
    z-index: 2;
}

@media (max-width: 1023px) {
    .reviews__item-image {
        top: 0;
        left: 138px;
    }

    .reviews__item-image img {
        width: 302px;
        height: 208px;
    }
}

.reviews__item-main {
    width: 640px;
    height: 408px;
    background-color: #151313;
    float: right;
    position: relative;
}

.reviews__item-main blockquote {
    position: absolute;
    width: 408px;
    height: 192px;
    top: 109px;
    left: 145px;
}

@media (max-width: 1023px) {
    .reviews__item-main {
        margin: 95px 0;
        width: 578px;
        height: 368px;
    }

    .reviews__item-main blockquote {
        margin: 0;
        width: 407px;
        top: 148px;
        left: 95px;
        text-align: center;
    }
}

.review__username {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

.review__text {
    font-family: Roboto, sans-serif;

    font-weight: 300;
    font-size: 14px;
    line-height: 23px;

    color: rgba(255, 255, 255, 0.72);
    margin-bottom: 40px;
}

.review__datetime {
    float: left;
    font-family: Roboto, sans-serif;

    font-size: 12px;
    line-height: 19px;

    color: rgba(160, 123, 80, 0.94);
}

.review__social {
    display: flex;
    width: 90px;
    justify-content: space-around;
}

.reviews__social {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 1px solid #a07b50;
    transition: border-color 0.3s ease-out;
}

.reviews__social:hover,
.reviews__social:focus {
    border-color: #ffffff;
}

.reviews__social:hover svg,
.reviews__social:focus svg {
    fill: #ffffff;
}

.reviews__icon {
    margin: 30% auto;
    fill: #a07b50;
}

@media (max-width: 1023px) {
    .review__details {
        width: 210px;
        margin: 0 auto;
    }
}

.reviews__button {
    background-color: transparent;
    border: none;
    outline: none;
}

.reviews__button-prev {
    position: absolute;
    width: 31px;
    height: 31px;
    left: 0;
    top: 50%;
    display: block;
    cursor: pointer;
    background-image: url("../images/arrowPrev.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    transition: opacity 0.3s ease-out;
}

.reviews__button-next {
    position: absolute;
    width: 31px;
    height: 31px;
    right: 0;
    top: 50%;
    display: block;
    cursor: pointer;
    background-image: url("../images/arrowNext.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    transition: opacity 0.3s ease-out;
}

@media (max-width: 1023px) {
    .reviews__button-prev {
        width: 60px;
        top: 35%;
        left: 150px;
        background-image: url("../images/arrowPrevLong.svg");
    }

    .reviews__button-next {
        width: 60px;
        top: 35%;
        right: 150px;
        background-image: url("../images/arrowNextLong.svg");
    }
}

.reviews__button-prev:hover,
.reviews__button-next:hover {
    opacity: 1;
}

/* Footer */

.container__footer {
    width: 100%;
    height: 156px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 1023px) {
    .container__footer {
        width: auto;
        height: 105px;
    }

    .footer__logo {
        display: none;
    }
}

.footer__social {
    padding: 0;
    width: 80px;
    display: flex;
    justify-content: space-around;
}

.footer__social-icon {
    fill: #a07b50;
    transition: 0.3s ease-out;
}

.footer__social-icon:hover,
.footer__social-icon:focus {
    fill: white;
}

.footer__link-address {
    font-family: Roboto, sans-serif;

    font-size: 14px;
    line-height: 27px;

    color: rgba(253, 242, 230, 0.83);
    transition: color 0.3s ease-out;
}

.footer__link-address:hover {
    color: #a07b50;
}

.footer__link-tel {
    font-family: Roboto, sans-serif;

    font-weight: bold;
    font-size: 14px;
    line-height: 27px;

    color: #FDF2E6;
    transition: color 0.3s ease-out;
}

.footer__link-tel:hover {
    color: #a07b50;
}
